.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item{
  &.no-active{
    transform: translate3d(-5px, 9px, 10px);
  }

  &.active{
    transform: translate3d(-5px, 2px, 10px);
  }
}

#option{
  &:last-child{
    border: none !important;
  }
}

#tippy_item{
  &:last-child{
    border: none !important;
  }
}
